[data-theme='theme'] {
	--text-scaling: 1.125;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.22rem;
	--radius-base: 0.125rem;
	--radius-container: 0.125rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(57.8% 0.01 106.54deg);
	--color-primary-100: oklch(50.87% 0.01 106.59deg);
	--color-primary-200: oklch(43.33% 0.01 106.66deg);
	--color-primary-300: oklch(35.83% 0.01 106.77deg);
	--color-primary-400: oklch(27.5% 0.01 106.94deg);
	--color-primary-500: oklch(18.93% 0.01 107.27deg);
	--color-primary-600: oklch(17.15% 0.01 107.19deg);
	--color-primary-700: oklch(15.31% 0.01 107.09deg);
	--color-primary-800: oklch(13.34% 0.01 107.07deg);
	--color-primary-900: oklch(10.58% 0 107.07deg);
	--color-primary-950: oklch(0% 0 none);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-light);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(66.72% 0.04 146.4deg);
	--color-secondary-100: oklch(59.5% 0.04 146.42deg);
	--color-secondary-200: oklch(52.06% 0.04 146.42deg);
	--color-secondary-300: oklch(44.53% 0.04 147.57deg);
	--color-secondary-400: oklch(36.49% 0.04 147.49deg);
	--color-secondary-500: oklch(28.01% 0.04 147.24deg);
	--color-secondary-600: oklch(24.63% 0.03 147.91deg);
	--color-secondary-700: oklch(21.22% 0.03 146.91deg);
	--color-secondary-800: oklch(17.26% 0.02 148.69deg);
	--color-secondary-900: oklch(13.42% 0.01 144.98deg);
	--color-secondary-950: oklch(0% 0 none);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(82.87% 0.11 58.05deg);
	--color-tertiary-100: oklch(75.49% 0.11 58.3deg);
	--color-tertiary-200: oklch(67.94% 0.11 58.41deg);
	--color-tertiary-300: oklch(60.4% 0.11 59.51deg);
	--color-tertiary-400: oklch(52.5% 0.11 58.67deg);
	--color-tertiary-500: oklch(44.39% 0.1 56.33deg);
	--color-tertiary-600: oklch(39.41% 0.09 52.72deg);
	--color-tertiary-700: oklch(34.12% 0.08 48.78deg);
	--color-tertiary-800: oklch(28.66% 0.08 42.99deg);
	--color-tertiary-900: oklch(23.04% 0.07 37.67deg);
	--color-tertiary-950: oklch(16.87% 0.07 29.23deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(98.27% 0.03 150.36deg);
	--color-success-100: oklch(91.79% 0.04 150.47deg);
	--color-success-200: oklch(85.26% 0.04 148.31deg);
	--color-success-300: oklch(78.79% 0.05 148.4deg);
	--color-success-400: oklch(72.05% 0.06 147.01deg);
	--color-success-500: oklch(65.14% 0.07 147.12deg);
	--color-success-600: oklch(57.86% 0.07 147.56deg);
	--color-success-700: oklch(50.41% 0.07 148.6deg);
	--color-success-800: oklch(42.69% 0.07 148.72deg);
	--color-success-900: oklch(34.73% 0.07 149.08deg);
	--color-success-950: oklch(26.46% 0.07 147.96deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-light);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(96.46% 0.07 99.09deg);
	--color-warning-100: oklch(89.31% 0.07 98.11deg);
	--color-warning-200: oklch(81.83% 0.07 95.97deg);
	--color-warning-300: oklch(74.36% 0.07 95.09deg);
	--color-warning-400: oklch(66.52% 0.07 92.66deg);
	--color-warning-500: oklch(58.68% 0.07 91.26deg);
	--color-warning-600: oklch(51.61% 0.07 88.93deg);
	--color-warning-700: oklch(44.55% 0.06 87.16deg);
	--color-warning-800: oklch(37.07% 0.05 81.7deg);
	--color-warning-900: oklch(29.35% 0.05 77.35deg);
	--color-warning-950: oklch(20.82% 0.04 72.72deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-light);
	--color-warning-contrast-500: var(--color-warning-contrast-light);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(67.05% 0.08 25.17deg);
	--color-error-100: oklch(59.71% 0.08 23.71deg);
	--color-error-200: oklch(52.2% 0.08 24.27deg);
	--color-error-300: oklch(44.46% 0.08 22.96deg);
	--color-error-400: oklch(36.48% 0.08 23.96deg);
	--color-error-500: oklch(28.32% 0.08 23.84deg);
	--color-error-600: oklch(24.73% 0.07 23.31deg);
	--color-error-700: oklch(21.05% 0.05 22.56deg);
	--color-error-800: oklch(17.18% 0.04 22.01deg);
	--color-error-900: oklch(12.82% 0.02 20.95deg);
	--color-error-950: oklch(0% 0 none);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(90.67% 0 none);
	--color-surface-200: oklch(81.41% 0 none);
	--color-surface-300: oklch(71.55% 0 none);
	--color-surface-400: oklch(61.67% 0 none);
	--color-surface-500: oklch(51.03% 0 none);
	--color-surface-600: oklch(44.95% 0 none);
	--color-surface-700: oklch(38.67% 0 none);
	--color-surface-800: oklch(32.11% 0 none);
	--color-surface-900: oklch(25.2% 0 none);
	--color-surface-950: oklch(17.76% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}